:root {
    --primaryColor: #7640ff;
    --primaryColorRGB: 118, 64, 255;
    --secondaryColor: #CDC1FF;
    --secondaryColorrRGB: 205, 193, 255;
    --terciaryColor: #F5EFFF;
    --terciaryColorRGB: 245, 239, 255;
    --colorHeroParagraph: #373737;

    --font-rethink_sans: rethink;
    --font-poppins_sans: poppins;
    --font-poppins_sansBold: poppinsBold;
    --font-poppins_sansExtraBold: poppinsExtraBold;

}

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: poppinsBold;
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppinsExtraBold;
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: rethink;
    src: url(../fonts/Rethink_Sans/RethinkSans-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    /* Asegúrate de que todos los elementos usen el mismo modelo de caja */
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
}

h1,
h2 {
    font-family: var(--font-poppins_sansBold), var(--font-poppins_sans);
    font-weight: 600;
}

h3,
h4,
h5,
h6,
p,
a {
    font-family: var(--font-poppins_sans), var(--font-rethink_sans);
}

.icon-container svg {
    width: 21px;
    height: 21px;
}

/* --------------------------- BUTTONS --------------------------- */

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.65rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 0.5rem;
    border: none;
    transition: background-color 0.2s ease,
        color 0.2s ease,
        box-shadow 0.2s ease;
    user-select: none;
}

.button svg {
    width: 18px;
    height: 18px;
}

/* Botón Primary */
.button-primary {
    background-color: var(--primaryColor);
    color: #fff;
    transition: background-color 0.2s ease;
}

.button-primary:hover {
    background-color: rgba(var(--primaryColorRGB), 0.8);
}

/* Botón Secondary */
.button-secondary {
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    transition: background-color 0.2s ease;
}

.button-secondary:hover {
    background-color: rgba(var(--secondaryColorrRGB), 0.8);
}

/* Botón Outline */
.button-outline {
    background-color: transparent;
    color: var(--primaryColor);
    border: 2px solid var(--primaryColor);
    transition: background-color 0.2s ease;
}

.button-outline:hover {
    background-color: rgba(var(--terciaryColorRGB), 0.4);
}

/* Botón Neutral */
.button-neutral {
    background-color: transparent;
    color: var(--primaryColor);
    border: 1px solid transparent;
}

.button-neutral:hover {
    border: 1px solid var(--primaryColor);
}

/* Botón Disabled */
.button-disabled {
    background-color: rgba(162, 179, 204, 0.2);
    color: #8a8a8a;
    cursor: not-allowed;
}

/* Botón Focus */
.button:focus {
    outline: 3px solid rgba(162, 179, 204, 0.5);
    outline-offset: 2px;
}

/* Botón Danger (Borrar) */
.button-danger {
    background-color: #d9534f;
    /* Rojo para indicar peligro */
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button-danger:hover {
    background-color: #c9302c;
    /* Rojo más oscuro */
    color: #f8f8f8;
}

.button-danger:active {
    background-color: #ac2925;
    /* Rojo aún más oscuro */
}

.button-danger:focus {
    outline: 3px solid rgba(217, 83, 79, 0.5);
    outline-offset: 2px;
}

/* --------------------------- HEADER --------------------------- */

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
}

header .logo-container {
    width: 100%;
    height: 100%;
}

header .logo-container img {
    object-fit: contain;
}

header .logo-name {
    font-weight: bold;
    font-size: 2rem;
}

header .border-line {
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 1px solid var(--secondaryColor);
}

header .navbar-collapse {
    background-color: transparent;
}

header .navbar-toggler {
    border: none;
}

header .navbar-toggler:focus,
header .navbar-toggler:focus-visible {
  outline: none;
  box-shadow: none;
}

header .navbar-toggler #checkbox {
    display: none !important;
}

header .navbar-toggler .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
}

header .navbar-toggler .bars {
    width: 100%;
    height: 4px;
    background-color: var(--primaryColor);
    border-radius: 4px;
}

header .navbar-toggler #bar2 {
    transition-duration: .8s;
}

header .navbar-toggler #bar1,
header .navbar-toggler #bar3 {
    width: 70%;
}

header .navbar-toggler #checkbox:checked+.toggle .bars {
    position: absolute;
    transition-duration: .5s;
}

header .navbar-toggler #checkbox:checked+.toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
}

header .navbar-toggler #checkbox:checked+.toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
}

header .navbar-toggler #checkbox:checked+.toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
}

header .navbar-toggler #checkbox:checked+.toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
}

@media (max-width: 991.98px) {
    header {
        position: static;
        background-color: var(--terciaryColor);
    }

    header .border-line {
        display: none;
    }

    header .navbar-collapse {
        background-color: var(--terciaryColor);
    }
}

header .navbar-nav .nav-item .navlink {
    font-size: 1rem;
    font-weight: 600;
    color: var(--colorHeroParagraph);
}

header .pipe-line {
    color: var(--colorHeroParagraph);
}

/* --------------------------- MAIN --------------------------- */

main {
    background-image: url('../img/hero_section.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (max-width: 991.98px) {
    main {
        padding: 0;
    }
}

/* --------------------------- HERO SECTION --------------------------- */

.hero-section-container {
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero-section {
    padding: 0% 5% 0% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
}

.hero-badge {
    font-size: medium;
    font-weight: 600;
    color: var(--primaryColor);
}

.hero-title {
    font-size: 3rem;
}

.hero-paragraph {
    font-size: 1rem;
    width: 50%;
    color: var(--colorHeroParagraph);
}

.hero-image-container {
    overflow: hidden;
}

.hero-image {
    width: 500px;
    height: 500px;
}

/* --------------------------- SECONDARY HERO SECTION --------------------------- */

.secondary-hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.secondary-hero-badge {
    font-size: small;
    font-weight: 600;
    color: var(--primaryColor);
}

.secondary-hero-title {
    font-size: 2rem;
}

.secondary-hero-paragraph {
    font-size: 1rem;
    width: 50%;
    color: var(--colorHeroParagraph);
}

/* --------------------------- PRICING CARDS --------------------------- */

.pricing-cards .card {
    border-radius: 0.5rem;
    border: 1px solid var(--terciaryColor);
    /* Sombra inicial suave */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08),
        0 4px 8px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.2s ease-in-out;
    /* Transición suave */
}

.pricing-cards .card:hover {
    /* Al hacer hover, la sombra se vuelve un poco más marcada */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12),
        0 8px 16px rgba(0, 0, 0, 0.12);
}

.pricing-cards .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing-cards .col-md-3:nth-child(2) .card {
    border: 2px solid var(--secondaryColor);
    height: fit-content;
    z-index: 10;
}

.pricing-cards .card-badge {
    padding: 0.1rem 1rem;
    border-radius: 1rem;
    border: 1px solid var(--secondaryColor);
    color: var(--primaryColor);
    background-color: rgba(var(--terciaryColorRGB), 0.8);
    font-weight: bold;
    font-size: 1rem;
}

.pricing-cards .card-title {
    color: var(--primaryColor);
    font-weight: bold;
    font-size: 2rem;
}

.pricing-cards .card-text .text-muted {
    color: var(--colorHeroParagraph);
}